<md-content layout-fill="">
	<md-toolbar>
		<div class="md-toolbar-tools">
	      	<h3>
	        	<span ng-click="goToDefaultPage()">Omni</span>
	      	</h3>

	      	<span flex></span>
	        <md-autocomplete flex="60"
	        	md-autofocus="false"
		    	md-selected-item="autoComplete.selectedItem"
		        md-search-text-change="autoComplete.searchTextChange(autoComplete.searchText)"
		        md-search-text="autoComplete.searchText"
		        md-selected-item-change="autoComplete.selectedItemChange(item)"
		        md-items="item in autoComplete.querySearch(autoComplete.searchText)"
		        md-item-text="item.word"
		        md-min-length="1"
		        placeholder="Search word">
		        <md-item-template>
	      				<span md-highlight-text="autoComplete.searchText" md-highlight-flags="^i">{{item.word}}</span>
	    		</md-item-template>
	    		<md-not-found>
	      			No word matching "{{autoComplete.searchText}}" was found.
	      			<a ng-click="goToPage('PAGE_ADD_WORD')">Add</a>
	    		</md-not-found>
	        </md-autocomplete>
		    
	    	<md-button class="md-icon-button" aria-label="Add word" ng-click="goToPage('PAGE_ADD_WORD')">
	      		<md-icon md-svg-icon="images/ic_add_black_24px.svg"></md-icon>
	    	</md-button>
	    	<md-button class="md-icon-button" aria-label="Play" ng-click="goToPage('PAGE_PLAY')">
	      		<md-icon md-svg-icon="images/ic_play_arrow_black_24px.svg"></md-icon>
	    	</md-button>
		</div>
	</md-toolbar>

	<div layout="row" ng-switch="currentPage">
	    <md-card ng-switch-when="PAGE_ADD_WORD">
	    	<md-card-title>
	          	<md-card-title-text>
	            	<span class="md-headline">Add new word</span>
	        	</md-card-title-text>
	    	</md-card-title>
	        <md-card-content layout="row">
	        	<form>
	            	<md-input-container class="md-block" flex-gt-xs>
			            <label>Word</label>
			            <input ng-model="wordToBeAdded.word" required>
			        </md-input-container>

			        <md-input-container class="md-block" flex-gt-xs>
			            <label>Meaning</label>
			            <input ng-model="wordToBeAdded.meaning" required>
			        </md-input-container>

			        <div layout="column" ng-repeat="synonym in wordToBeAdded.synonyms">
		            	<div layout="row">
		            		<md-input-container class="md-block" flex="90">
					            <label>Synonym</label>
					            <input ng-model="synonym.word" required>
					        </md-input-container>
					        <md-button class="md-icon-button" aria-label="Add meaning for synonym" ng-click="synonym.hasExtraMeaning = true">
				          		<md-icon md-svg-icon="images/ic_add_black_24px.svg"></md-icon>
				        	</md-button>
		            	</div>
		            	
				        <md-input-container ng-if="synonym.hasExtraMeaning" class="md-block" flex-gt-xs>
				            <label>Meaning for {{synonym.word}}</label>
				            <input ng-model="synonym.extraMeaning">
				        </md-input-container>
				    </div>

				    <div layout="column" ng-repeat="antonym in wordToBeAdded.antonyms">
		            	<div layout="row">
		            		<md-input-container class="md-block" flex="90">
					            <label>Antonym</label>
					            <input ng-model="antonym.word" required>
					        </md-input-container>
		            	</div>
		            	
				        <md-input-container class="md-block" flex-gt-xs>
				            <label>Meaning for {{antonym.word}}</label>
				            <input ng-model="antonym.meaning">
				        </md-input-container>
				    </div>

			        <md-button class="md-raised md-primary" aria-label="Add synonym" ng-click="addSynonym()">
		          		Add Synonym
		        	</md-button>

		        	<md-button class="md-raised md-primary" aria-label="Add antonym" ng-click="addAntonym()">
		          		Add Antonym
		        	</md-button>

		        	<md-button class="md-raised md-primary" aria-label="Add synonym" ng-click="restoreAddForm()">
		          		Reset
		        	</md-button>

		        	<md-button class="md-raised md-primary" aria-label="Add synonym" ng-click="saveWord()">
		          		Save
		        	</md-button>

		        	<p><code>If word exists in inventory, it's meaning is not updated unless it is a main word</code></p>
		        </form>
	        </md-card-content>
	    </md-card>

	    <div ng-switch-when="PAGE_PLAY" layout="column" flex="100">
	    	<div layout="row" ng-if="playData.playSet">
		    	<md-card flex="100">
		            <md-card-content layout="column" layout-align="start center">
		            	<h2>{{playData.currentWord.word}}</h2>

		            	<p ng-if="playData.showMeaning">
		            		{{playData.currentWord.meaning}}
		            	</p>

		            	<md-button ng-hide="playData.showMeaning" class="md-raised md-primary" ng-click="playData.showMeaning = true">Show meaning</md-button>

		            </md-card-content>
		            <md-card-actions layout="row" layout-align="end center">
			        	<md-button ng-click="playShowNext()">Next</md-button>
			        </md-card-actions>
		        </md-card>
		    </div>

		    <div layout="row">
		        <md-card flex="100">
		            <md-card-content layout="column" class="md-inline-form">

		            	<md-input-container class="md-block" ng-if="!playData.advanced">
				            <label>Range</label>
				            <md-select ng-model="playData.range">
				            	<md-option ng-repeat="range in playData.ranges" value="{{range}}">
				                	{{range}}
				              	</md-option>
				            </md-select>
				        </md-input-container>

				        <md-checkbox ng-model="playData.random" aria-label="Random check">
	            			Random
	          			</md-checkbox>
				        
				        <md-checkbox ng-model="playData.advanced" aria-label="Advance check">
	            			Advanced
	          			</md-checkbox>

	          			<md-datepicker ng-if="playData.advanced"
		           			ng-model="playData.startDate" md-placeholder="Start Date"></md-datepicker>
			            
			            <md-datepicker ng-if="playData.advanced"
			            	ng-model="playData.endDate" md-placeholder="End Date"></md-datepicker>
			            	
		            </md-card-content>

		            <md-button class="md-raised md-primary" aria-label="Add synonym" ng-click="startPlay()">
		          		Play
		        	</md-button>
		        </md-card>
		    </div>
	    </div>

	    <div ng-switch-when="PAGE_SEARCH" layout="row" flex="100">
	        <md-card flex="100">
	        	<md-card-title>
		          	<md-card-title-text>
		            	<span class="md-headline">{{autoComplete.selectedItem.word}}</span>
		        	</md-card-title-text>
	        	</md-card-title>
	            <md-card-content layout="column">
	                <p>{{autoComplete.selectedItem.meaning}}</p>

	                <p><strong>Synonmys: </strong> <span ng-repeat="syn in autoComplete.selectedItem.synonyms">{{syn}}{{$last ? '' : ', '}}</span></p>
	            	<p><strong>Antonyms: </strong> <span ng-repeat="ant in autoComplete.selectedItem.antonyms">{{ant}}{{$last ? '' : ', '}}</span></p>
	            
	            </md-card-content>

	        </md-card>
	    </div>
	</div>
</md-content>